.listproducts{
    height: 1500px;
    width: 100%;
    overflow: auto;
}

.listproducts h1{
    font-family: 'Inknut Antiqua', serif;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 5%;
}

.product{
    width: 25%;
    height: 340px;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 3%;
    float: left;
}
.product h1{
    font-family: 'Inknut Antiqua', serif;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
}
.product .productlogo{
    width: 70%;
    height: 100%;
    margin-left: 10%;
}
.product .price{
    font-family: 'Inknut Antiqua', serif;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;

}

.product .review{
    font-family: 'Inknut Antiqua', serif;
    font-size: 1rem;
    color: #4CAF50;
}
.product .review a{
    margin-left: 60%;
}
.product .flip-card {
    margin-left: 20px;
}
.product .flip-card-back{
    color: black;
}