.header{
    height: 500px;
}
.headeroverlay{
    width: 70%;
    height: 100%;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.headeroverlay h1{
    font-size: 3em;
    color: black;
    font-weight: 700;
    margin-bottom: 1%;
}
.headeroverlay h3{
    font-size: 2em;
    color: black;
    font-weight: 500;
    margin-bottom: 1%;
}
.headerimage{
    float: left;
    margin-top: 5%;
    margin-left: 2%;
    width: 25%;
    height: 80%;
}
.headerimage img{
    width: 100%;
    height: 100%;
}