@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap');

.product-info {
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  width: 70%;
  height: 400px;
  background-color: #DBFFDF;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

.product-info-image {
  width: 30%;
  height: 100%;
  float: left;
  padding: 20px;
}
.product-info-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.product-info-text {
  width: 70%;
  height: 100%;
  float: right;
  padding-top: 35px;
  padding-left: 20px;
  font-family: 'Inknut Antiqua', serif;
}

.product-info-text .product-description{
  font-size: 12px;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
}

.product-info-text .product-info-price {
  font-size: 20px;
  font-weight: 600;
  position: absolute;
    bottom: 0;

}
.product-info-text .product-info-price h3{
  font-size: 20px;
  font-weight: 600;
  float: left;
  font-family: Arial, Helvetica, sans-serif;
}
.product-info-text .product-info-price strong{
  font-family: 'Inknut Antiqua', serif;
}
.product-info-text .product-info-add{
  float: right;
  background-color: #62F725;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  right: 0;
}
.product-info-text .product-info-add button{
    float: right;
    background-color: #62F725;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
  }