@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap');

@media (min-width: 992px) {
    .nav {
      margin-left: 35%;
      height: 50px;
    }
  }

.navbar{
    background-color: #DBFFDF;
    font-weight: 700;
    color: black;
    font-family: 'Inknut Antiqua', serif;
}
.nav-logo {
    color: green;
}
